.container-workout {
  max-width: 500px;
  margin: 0 auto;
}
.workout-image-workout{
  background-image: url("../../assets/images/body.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 0;
}

.input-section-workout {
  background: rgba(255, 255, 255, 0.112); /* Semi-transparent white */
  padding: 20px;
  color: white;
  margin-bottom: 20px;
  border-radius: 10px;
  backdrop-filter: blur(5px); /* Blur effect for the glassmorphism */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  border: 1px solid rgba(28, 7, 7, 0.3); /* Light border for the glass effect */
}

.heading-workout {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: white;
}

.input-field-workout{
  width: 95%;
  padding: 10px;
  margin-bottom: 20px;
  background-color: white;
  color: black;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.workout-section-workout {
  /* background-color: #fff; */
  padding: 20px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.112); /* Semi-transparent white */
  padding: 20px;
  /* color: white; */
  /* margin-bottom: 20px; */
  border-radius: 10px;
  backdrop-filter: blur(5px); /* Blur effect for the glassmorphism */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  border: 1px solid rgba(255, 255, 255, 0.3); /* Light border for the glass effect */
}

.show-workout-btn {
  display: block;
  margin-bottom: 20px;
  width: 100%;
  background-color: #000000;
  color: white;
  padding: 10px;
  border-radius: 5px;
}
.show-workout-btn:hover{
  background-color: #000000;
  color: #e2e2e2;
  border: 1px solid #c0c0c0;
  box-shadow: 5px 5px 0px #c0c0c0;
}
.workout-plan-workout {
  padding: 20px;
  background: rgba(255, 255, 255, 0.182); /* Semi-transparent white */
  border-radius: 10px;
  backdrop-filter: blur(5px); /* Blur effect for the glassmorphism */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  color: white;
  margin-top: 20px;
}

.plan-title-workout {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.workout-details-workout {
  padding: 10px;
}

.details-heading-workout {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.workout-list-workout {
  list-style-type: disc;
  padding-left: 20px;
}
