/* HomePage Styles */
.home{
  background-color: black;  
}

.homepage {
    height: 80vh;
    background-image: url('./src/assets/images/boxerimage.jpg'); /* Replace with your image URL */
    background-size: cover;
    background-position: rightś;
    position: relative;
    background-repeat: no-repeat;
    background-color: black;  
    clip-path: polygon(0px 0px, 100% 0px, 100%);
  }
  
  .overlay {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
  }
  
  .text-container {
    color: white;
    max-width: 700px;
    margin-left: 50px;
  }
  
  .text-container h1 {
    font-size: 6rem;
    margin-bottom: 1rem;
    color: rgb(229, 229, 229);
  }
  
  .text-container p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
  .services {
    display: flex;
    border: 2px solid white;
    background-color: rgb(247, 241, 241);
    gap: 5px;
    margin-top: 15px;
    padding-bottom: 1px;
    font-family: system-ui;
    justify-content: center;
    width: 450px;
}

.services span {
    background-color:white;
    color:rgb(205, 15, 15);
    padding: 5px 10px;
    font-weight: bold;
}
.hand{
    width:50px;
    
}
.dumbbell{
    width:50px;

}
.dumb{
    width: 60px;
    height: 50px;

}
.why-only {
    display: flex;
    padding: 40px;
    background-color: #fff;
    color: #000;
    justify-content: center;
    align-items: center;

}

.why-logo img {
    width:30vw;
    height:40vh;
}

.why-content {
    max-width: 600px;
    margin-left: 20px;
    font-size:larger;
    font-family: system-ui;
    font: bolder;
}

.why-content h2 {
    font-size: 36px;
    margin-bottom: 20px;
    
}

.why-content p {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.5;
    color: grey;
}

.free-lesson-btn {
    background-color: red;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: all 0.3s ease;
}
.free-lesson-btn:hover {
  background-color: #fff;
  color: #ff5252;
  border: 2px solid #ff5252;
  box-shadow: 5px 5px 0px #ff5252;
}

.background-image  {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    opacity:2;
}
.background-image img{
    width: fit-content;
    object-fit: cover;
}
  .explore-button {
    background-color: #ff6347;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .explore-button:hover {
    background-color: #ff4500;
  }
  